<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.ApplicatDao" >
  <resultMap id="BaseResultMap" type="cn.wow.common.domain.Applicat" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="depart" property="depart" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <association property="org" javaType="cn.wow.common.domain.Org" column="org_id" select="cn.wow.common.dao.OrgDao.selectOne"/> 
  </resultMap>
  
  <sql id="base_columns" >
    id, name, depart, org_id, contact, remark
  </sql>
  
  <select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="base_columns" /> from applicat where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from applicat where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="cn.wow.common.domain.Applicat" >
  	<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
		SELECT @@IDENTITY
	</selectKey>
		
    insert into applicat (name, depart, org_id, contact, remark)
   	 values (#{name,jdbcType=VARCHAR}, #{depart,jdbcType=VARCHAR}, #{orgId,jdbcType=BIGINT}, #{contact,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>

  <update id="update" parameterType="cn.wow.common.domain.Applicat" >
    update applicat
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="depart != null" >
        depart = #{depart,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map" >
  	select 
    <include refid="base_columns" />
      from applicat
      <where>
     	  <if test="name != null" >
	        and name = #{name,jdbcType=VARCHAR}
	      </if>
	      <if test="qname != null" >
	        and name like concat('%', #{qname,jdbcType=VARCHAR}, '%')
	      </if>
	      <if test="depart != null" >
	        depart = #{depart,jdbcType=VARCHAR}
	      </if>
	      <if test="qdepart != null" >
	        depart like concat('%', #{qdepart,jdbcType=VARCHAR}, '%')
	      </if>
	      <if test="orgId != null" >
	        org_id = #{orgId,jdbcType=BIGINT}
	      </if>
     </where>
      
	  <choose>
  		<when test="custom_order_sql != null">
  			order by ${custom_order_sql}
  		</when>
  		<otherwise>
  			order by id desc
  		</otherwise>
 	 </choose>
  </select>
     
  	

</mapper>