<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.TaskDao">
	<resultMap id="BaseResultMap" type="cn.wow.common.domain.Task">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="i_id" property="iId" jdbcType="BIGINT" />
		<result column="a_id" property="aId" jdbcType="BIGINT" />
		<result column="org_id" property="orgId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="atlas_lab" property="atlasLab" jdbcType="BIGINT" />
		<result column="pattern_lab" property="patternLab" jdbcType="BIGINT" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="fail_num" property="failNum" jdbcType="INTEGER" />
		<result column="atlas_result" property="atlasResult" jdbcType="INTEGER" />
		<result column="pattern_result" property="patternResult" jdbcType="INTEGER" />
		<association property="info" javaType="cn.wow.common.domain.Info" column="i_id" select="cn.wow.common.dao.InfoDao.selectOne"/> 
		<association property="account" javaType="cn.wow.common.domain.Account" column="a_id" select="cn.wow.common.dao.AccountDao.selectOne"/> 
		<association property="org" javaType="cn.wow.common.domain.Org" column="org_id" select="cn.wow.common.dao.OrgDao.selectOne"/> 
		<association property="atlas" javaType="cn.wow.common.domain.Org" column="atlas_lab" select="cn.wow.common.dao.OrgDao.selectOne"/> 
		<association property="pattern" javaType="cn.wow.common.domain.Org" column="pattern_lab" select="cn.wow.common.dao.OrgDao.selectOne"/> 
	</resultMap>
	
	<sql id="base_columns">
		t.id, t.code, t.i_id, t.org_id, t.type, t.state, t.atlas_lab, t.pattern_lab, t.remark, t.create_time, t.fail_num, t.a_id, t.atlas_result, t.pattern_result
	</sql>
	
	<select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="base_columns" /> from task t where t.id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from task
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="cn.wow.common.domain.Task">
		insert into task (code, i_id, org_id, type, state, atlas_lab, pattern_lab, remark, create_time, fail_num, a_id, atlas_result, pattern_result)
			values (#{code,jdbcType=VARCHAR}, #{iId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{state,jdbcType=INTEGER},
					#{atlasLab,jdbcType=BIGINT}, #{patternLab,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
					#{failNum,jdbcType=INTEGER}, #{aId,jdbcType=BIGINT}, #{atlasResult,jdbcType=INTEGER}, #{patternResult,jdbcType=INTEGER})
	</insert>
	
	<update id="update" parameterType="cn.wow.common.domain.Task">
		update task
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="iId != null">
				i_id = #{iId,jdbcType=BIGINT},
			</if>
			<if test="aId != null">
				a_id = #{aId,jdbcType=BIGINT},
			</if>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
			<if test="atlasLab != null">
				atlas_lab = #{atlasLab,jdbcType=BIGINT},
			</if>
			<if test="patternLab != null">
				pattern_lab = #{patternLab,jdbcType=BIGINT},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="failNum != null">
				fail_num =  #{failNum,jdbcType=INTEGER},
			</if>
			<if test="atlasResult != null">
				atlas_result = #{atlasResult,jdbcType=INTEGER},
			</if>
			<if test="patternResult != null">
				pattern_result = #{patternResult,jdbcType=INTEGER}
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateState" parameterType="java.util.Map">
		update task set state = #{state,jdbcType=INTEGER} where id = #{id,jdbcType=BIGINT}
	</update>
	
	 <select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map" >
	  	select 
	    <include refid="base_columns" />
	      from task t LEFT JOIN account a on t.a_id = a.id
	     <where>
		      <if test="code != null and code != ''" >
		        and t.code like concat('%', #{code,jdbcType=VARCHAR}, '%') 
		      </if>
		      
		      <if test="nickName != null and nickName != ''" >
		        and a.nickname like concat('%', #{nickName,jdbcType=VARCHAR}, '%') 
		      </if>
		      
		      <if test="orgId != null">
				and t.org_id = #{orgId,jdbcType=BIGINT}
			 </if>
			 
			 <if test="iId != null">
				and t.i_id = #{iId,jdbcType=BIGINT}
			 </if>
			 
			 <if test="aId != null">
				and t.a_id = #{iId,jdbcType=BIGINT}
			 </if>
		      
		      <if test="state != null">
				and t.state = #{state,jdbcType=INTEGER}
			 </if>
			
			<if test="atlasLab != null">
				and t.atlas_lab = #{atlasLab,jdbcType=BIGINT}
			</if>
			<if test="patternLab != null">
				and t.pattern_lab = #{patternLab,jdbcType=BIGINT}
			</if>
			
			<if test="failNum != null">
				and t.fail_num &gt;= #{failNum,jdbcType=INTEGER}
			</if>
			
			<if test="atlasResult != null">
				and t.atlas_result = #{atlasResult,jdbcType=INTEGER}
			</if>
			
			<if test="patternResult != null">
				and t.pattern_result = #{patternResult,jdbcType=INTEGER}
			</if>
		      
		      <if test="startCreateTime != null and startCreateTime != ''">  
		    	and t.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
		      </if>
		      
		      <if test="endCreateTime != null and endCreateTime != ''">  
		    	and t.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
		      </if>
	      </where>
	      
		  <choose>
	  		<when test="custom_order_sql != null">
	  			order by ${custom_order_sql}
	  		</when>
	  		<otherwise>
	  			order by t.id desc
	  		</otherwise>
	 	 </choose>
	  </select>
	
</mapper>