<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wow.common.dao.TaskDao">
	<resultMap id="BaseResultMap" type="cn.wow.common.domain.Task">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="i_id" property="iId" jdbcType="BIGINT" />
		<result column="a_id" property="aId" jdbcType="BIGINT" />
		<result column="org_id" property="orgId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="fail_num" property="failNum" jdbcType="INTEGER" />
		
		<!-- 实验室ID -->
		<result column="parts_atl_id" property="partsAtlId" jdbcType="BIGINT" />
		<result column="mat_atl_id" property="matAtlId" jdbcType="BIGINT" />
		<result column="parts_pat_id" property="partsPatId" jdbcType="BIGINT" />
		<result column="mat_pat_id" property="matPatId" jdbcType="BIGINT" />
		
		<!-- 试验结果 -->
		<result column="parts_atl_result" property="partsAtlResult" jdbcType="INTEGER" />
		<result column="mat_atl_result" property="matAtlResult" jdbcType="INTEGER" />
		<result column="parts_pat_result" property="partsPatResult" jdbcType="INTEGER" />
		<result column="mat_pat_result" property="matPatResult" jdbcType="INTEGER" />
		
		<association property="partsAtl" javaType="cn.wow.common.domain.Org" column="parts_atl_id" select="cn.wow.common.dao.OrgDao.selectOne"/> 
		<association property="matAtl" javaType="cn.wow.common.domain.Org" column="mat_atl_id" select="cn.wow.common.dao.OrgDao.selectOne"/> 
		<association property="partsPat" javaType="cn.wow.common.domain.Org" column="parts_pat_id" select="cn.wow.common.dao.OrgDao.selectOne"/> 
		<association property="matPat" javaType="cn.wow.common.domain.Org" column="mat_pat_id" select="cn.wow.common.dao.OrgDao.selectOne"/> 
		<association property="info" javaType="cn.wow.common.domain.Info" column="i_id" select="cn.wow.common.dao.InfoDao.selectOne"/> 
		<association property="account" javaType="cn.wow.common.domain.Account" column="a_id" select="cn.wow.common.dao.AccountDao.selectOne"/> 
		<association property="org" javaType="cn.wow.common.domain.Org" column="org_id" select="cn.wow.common.dao.OrgDao.selectOne"/> 
	</resultMap>
	
	<sql id="base_columns">
		t.id, t.code, t.i_id, t.org_id, t.type, t.state, t.parts_atl_id, t.mat_atl_id, t.parts_pat_id, t.mat_pat_id ,t.remark, t.create_time, t.fail_num, t.a_id, t.parts_atl_result, t.mat_atl_result,
        t.parts_pat_result, t.mat_pat_result	
	</sql>
	
	<select id="selectOne" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select <include refid="base_columns" /> from task t where t.id = #{id,jdbcType=BIGINT}
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from task
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insert" parameterType="cn.wow.common.domain.Task">
		insert into task (code, i_id, org_id, type, state, parts_atl_id, mat_atl_id, parts_pat_id, mat_pat_id, remark, create_time, fail_num, a_id, parts_atl_result, mat_atl_result, parts_pat_result, mat_pat_result)
			values (#{code,jdbcType=VARCHAR}, #{iId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{state,jdbcType=INTEGER},
					#{partsAtlId,jdbcType=BIGINT}, #{matAtlId,jdbcType=BIGINT}, #{partsPatId,jdbcType=BIGINT}, #{matPatId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
					#{failNum,jdbcType=INTEGER}, #{aId,jdbcType=BIGINT}, #{partsAtlResult,jdbcType=INTEGER}, #{matAtlResult,jdbcType=INTEGER}, 
					#{partsPatResult,jdbcType=INTEGER}, #{matPatResult,jdbcType=INTEGER})
	</insert>
	
	<update id="update" parameterType="cn.wow.common.domain.Task">
		update task
		<set>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="iId != null">
				i_id = #{iId,jdbcType=BIGINT},
			</if>
			<if test="aId != null">
				a_id = #{aId,jdbcType=BIGINT},
			</if>
			<if test="orgId != null">
				org_id = #{orgId,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=INTEGER},
			</if>
				parts_atl_id = #{partsAtlId,jdbcType=BIGINT},
				mat_atl_id = #{matAtlId,jdbcType=BIGINT},
				parts_pat_id = #{partsPatId,jdbcType=BIGINT},
				mat_pat_id = #{matPatId,jdbcType=BIGINT},
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="failNum != null">
				fail_num =  #{failNum,jdbcType=INTEGER},
			</if>
			<if test="partsAtlResult != null">
				parts_atl_result = #{partsAtlResult,jdbcType=INTEGER},
			</if>
			<if test="matAtlResult != null">
				mat_atl_result = #{matAtlResult,jdbcType=INTEGER},
			</if>
			<if test="partsPatResult != null">
				parts_pat_result = #{partsPatResult,jdbcType=INTEGER},
			</if>
			<if test="matPatResult != null">
				mat_pat_result = #{matPatResult,jdbcType=INTEGER}
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateState" parameterType="java.util.Map">
		update task set state = #{state,jdbcType=INTEGER} where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="selectAllList" resultMap="BaseResultMap" parameterType="java.util.Map">
		select <include refid="base_columns" />
		from task t LEFT JOIN account a on t.a_id = a.id
		<where>
			<if test="code != null and code != ''">
				and t.code like concat('%', #{code,jdbcType=VARCHAR}, '%')
			</if>

			<if test="nickName != null and nickName != ''">
				and a.nickname like concat('%', #{nickName,jdbcType=VARCHAR}, '%')
			</if>

			<if test="orgId != null">
				and t.org_id = #{orgId,jdbcType=BIGINT}
			</if>

			<if test="iId != null">
				and t.i_id = #{iId,jdbcType=BIGINT}
			</if>

			<if test="aId != null">
				and t.a_id = #{iId,jdbcType=BIGINT}
			</if>

			<if test="state != null">
				and t.state = #{state,jdbcType=INTEGER}
			</if>

			<if test="examineState != null">
				and (t.state = 1 or t.state = 2)
			</if>

			<if test="partsAtlId != null">
				and t.parts_atl_id = #{partsAtlId,jdbcType=BIGINT}
			</if>
			
			<if test="matAtlId != null">
				and t.mat_atl_id = #{matAtlId,jdbcType=BIGINT}
			</if>
			
			<if test="partsPatId != null">
				and parts_pat_id = #{partsPatId,jdbcType=BIGINT}
			</if>
			
			<if test="matPatId != null">
				and mat_pat_id = #{matPatId,jdbcType=BIGINT}
			</if>
			
			<if test="failNum != null">
				and t.fail_num &gt;= #{failNum,jdbcType=INTEGER}
			</if>

			<if test="partsAtlResult != null">
				and t.parts_atl_result =
				#{partsAtlResult,jdbcType=INTEGER}
			</if>

			<if test="matAtlResult != null">
				and t.mat_atl_result = #{matAtlResult,jdbcType=INTEGER}
			</if>

			<if test="partsPatResult != null">
				and t.parts_pat_result = #{partsPatResult,jdbcType=INTEGER}
			</if>

			<if test="matPatResult != null">
				and t.mat_pat_result = #{matPatResult,jdbcType=INTEGER}
			</if>

			<if test="startCreateTime != null and startCreateTime != ''">
				and t.create_time &gt;= #{startCreateTime, jdbcType=TIMESTAMP}
			</if>

			<if test="endCreateTime != null and endCreateTime != ''">
				and t.create_time &lt;= #{endCreateTime, jdbcType=TIMESTAMP}
			</if>

			<!-- 任务下达列表 -->
			<if test="transimtTask != null">
				and (t.parts_atl_id is null or t.mat_atl_id is null or t.parts_pat_id is null or t.mat_pat_id is null)
			</if>

			<!-- 审批列表 -->
			<if test="approveTask != null">
				and (t.parts_atl_result = 0 or t.mat_atl_result = 0 or t.parts_pat_result = 0 or t.mat_pat_result = 0)
			</if>

			<!-- 图谱结果上传 -->
			<if test="atlasTask != null">
				and ((t.parts_atl_id = #{atlasTask, jdbcType=BIGINT} and t.parts_atl_result = 1 ) or (t.mat_atl_id = #{atlasTask, jdbcType=BIGINT} and t.mat_atl_result = 1))
			</if>

			<if test="atlasTask_admin != null">
				and ( t.parts_atl_result = 1 or t.mat_atl_result = 1 )
			</if>

			<!-- 型式结果上传 -->
			<if test="patternTask != null">
				and ((t.parts_pat_id = #{patternTask, jdbcType=BIGINT} and t.parts_pat_result = 1 ) or (t.mat_pat_id = #{patternTask, jdbcType=BIGINT} and t.mat_pat_result = 1))
			</if>

			<if test="patternTask_admin != null">
				and ( t.parts_pat_result = 1 or t.mat_pat_result = 1)
			</if>

			<!-- 结果发送列表 -->
			<if test="sendTask != null">
				and ((t.parts_pat_id = #{sendTask, jdbcType=BIGINT} and t.parts_pat_result = 2 ) or (t.mat_pat_id = #{sendTask, jdbcType=BIGINT} and t.mat_pat_result = 2) or (t.parts_atl_id = #{sendTask, jdbcType=BIGINT} and t.parts_atl_result = 2) or (t.mat_atl_id = #{sendTask, jdbcType=BIGINT} and t.mat_atl_result = 2))
			</if>
			
			<if test="sendTask_admin != null">
				and (t.parts_pat_result = 2  or t.mat_pat_result = 2 or t.parts_atl_result = 2 or t.mat_atl_result = 2)
			</if>


		</where>

		<choose>
			<when test="custom_order_sql != null">
				order by ${custom_order_sql}
			</when>
			<otherwise>
				order by t.id desc
			</otherwise>
		</choose>
	</select>
	
</mapper>